* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --fundo: #37363d;
}

.header1 {
    width: 100%;
    z-index: 1;
    padding: 20px 0;
    background-color: transparent;
    background-color: #000000;
}

header .pai0 {
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header button {
    width: 161px;
    height: 52px;
    background-color: #00b27e;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    cursor: auto;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #067b5a;
    cursor: pointer;
}

.btn_redirecionar {
    gap: 10px;
}

/* Section */
section {
    text-align: center;
}

section h1 {
    font-size: 2.5rem;
    color: #00B27E;
    margin-bottom: 20px;
    background-color: #29282d;
}

.subtitulo {
    font-size: 1.2rem;
    color: #ffffff;
    padding-bottom: 45px;
}

.lucro {
    color: #00ffb3;
    font-weight: bold;
    text-decoration: underline;
}

section .gasto {
    color: #ff0000;
    font-weight: bold;
    text-decoration: underline;
}

/* CSS do body */
.corpo {
    background-color: var(--fundo);
}

.sessao_videos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.video {
    border: 5px solid #00b27e;
    padding: 10px;
}

/* Cabeçalho */
footer {
    background-color: #121212;
    padding: 40px;
    padding-top: 2px;
    display: flex;
    justify-content: space-around;
    margin-top: -5px;

}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-logo img {
    width: 110px;
}

.footer-section {
    max-width: 200px;
}

.footer-section h3 {
    color: #00B27E;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.footer-section ul li a:hover {
    background-color: #067B5A;
    border-radius: 2px;
}